<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Servicio creado con ASP.NET Web API</h1>
                <h2>Para efectos de Prueba Técnica de Namu Travel Group</h2>
            </hgroup>
            <p>
                Este servicio de ASP.NET Web API brinda los métodos para la prueba por el protocolo HTTP.
            </p>
            <p>
                Para mas información sobre mi persona, por favor visitar: <a href="https://www.linkedin.com/in/mariano-peinador-04906610?trk=hp-identity-name" title="Mariano Peinador">mi LinkedIN</a>.
            </p>
        </div>
    </section>
</div>
